* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
}

header,
section,
footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.container {
  width: 70%;
}

header,
footer,
.hero {
  color: #f9faf8;
  background-color: #1f2937;
  text-align: center;
}

.header .container,
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-logo {
  font-size: 24px;
}

.header .nav {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

a:hover {
  text-decoration: underline;
}

.hero {
  text-align: left;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
}

.nav-item a,
.hero-subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-subtext {
  margin: 1rem 0;
}

.sign-up {
  background-color: #3882f6;
  font-size: 1rem;
  font-weight: 900;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
}

.info .container,
.testimony .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.info .info-title {
  font-size: 32px;
  font-weight: 900;
  color: #1f2937;
}

.info .cards {
  display: flex;
  text-align: center;
}

.testimony {
  background-color: #e5e7eb;
}

.testimony .container {
  gap: 0;
}

.testimony .quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.testimony .author {
  font-size: 24px;
  font-weight: bold;
  align-self: flex-end;
}